*{
    box-sizing: border-box;
}
body{
    height: 100%;
    background-image: url('male-business-executive-giving-speech_107420-63809.jpg');

}.flex-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.item-1{
    border: 3px solid blue;
    height: 80%;
    width: 100%;
}
.item-1 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.item-2{
    width: 100%;
    text-align: center;
    color:white;
    background-color: rgba(0, 0, 0, 0.81);
    font-size: 1.5rem;
    padding: 2rem;
    flex-grow: 1;
}
